<div class="jumbotron">
    <h3>Just Another Movie!</h3>
    <h4>Welcome <%= current_user.name %>. What movie will you JAM tonight?</h4>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="row">
            <h2>Upcoming Movies</h2>
            <div class="upcoming" ></div>
        </div><br>
        
        <p class="synopsis"></p>
        <div class="viewTrailer"></div>

        <div class="row">
            <div class="search">
                <h2 >My Movie Search</h2>
                <input type="text"  id="query" onkeydown="if (event.keyCode == 13) document.getElementById('btnSearch').click()" />
                <input type="button"  id="btnSearch" value="Search" onclick="PostSearch();" /><br><br>
                <div class="mySearch"></div>
            </div>
        </div><br>
        
    </div>
    <br><div class="col-md-3">
        <h2>My Movie JAM</h2>
        <div class="myList"></div>

    </div>
</div><br>


