<div class="jumbotron">
    <h1>Just Another Movie!</h1>
    <h3>Welcome JAMmer: <%= current_user.name %></h3><br>
    <pclass="lead">What movie will you JAM tonight?</p><br>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Upcoming Movies</h2>
        <div class="upcoming" ></div><br>

        <h2>My Movie Search</h2>
        <input type="text" id="query" onkeydown="if (event.keyCode == 13) document.getElementById('btnSearch').click()" />
        <input type="button" id="btnSearch" value="Search" onclick="PostSearch();" />
        <div class="mySearch"></div><br>

        <p>Feature Trailer</p>
        <div class="viewTrailer"></div>

    </div>
    <div class="col-md-4">
        <h2>My Movie JAM</h2>
        <div class="myList"></div>
        <li>data</li>
        <li>more data</li>
        <li>hey data!</li>
    </div>
</div><br>


