<script> 
    $('body').css({"background-image":"url(http://wallpapersko.com/wp-content/uploads/2014/08/avengers-movie-wallpaper.jpg)"});
    Upcoming();
    FeatureTrailer();
</script>

<div class="jumbotron">
    <div class="black">
        <h3>Just Another Movie!</h3>
        <h4>Welcome <%= current_user.name %>, what movie will you JAM tonight?</h4>
    </div>
</div>
<div class ="whiteNoise">
    <div class="black mypage">
        <div class="row">
            <div class="col-md-9">
                    <h2>Upcoming Movies</h2>
                    <div class="row upcoming" ></div>
            </div>
            <div class="stick-to-right">
                <div class="search">
                    <h2 >My Movie Search</h2>
                    <input type="text"  id="query" onkeydown="if (event.keyCode == 13) document.getElementById('btnSearch').click()" /><br><br>
                    <input type="button"  id="btnSearch" value="Search" onclick="PostSearch();" />
                </div><br>
                <h2 class="">My Movie JAM</h2>
                <div class="myList"></div>
            </div>
        </div>
    </div>
</div>
<div class="whiteNoise">
    <div class="black mypage">
            <div class="row">
                <p class="synopsis"></p>
                <div class="viewTrailer"></div>
            </div>
        </div>
    </div>
</div><br>

<div style="float:right; position:relative"></div><div class="fb-like" data-href="http://moviejam.herokuapp.com/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div></div>


