html, body {
    height: 100%;
}

.headFix {
    width: 300px;
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    margin-top:5%;
    text-align:center;
}

.col-md-1 {
    width:150px;
    height: 150px;
}

.poster {
    text-align: center;
    padding-top: 25px;
}

.poster:active {
    background-color: yellow;
    border-radius: 10px;
}

.search {
    position: relative;
}

.synopsis {
    position: absolute;
    display: none;
    background: #ccc;
    border: 1px solid;
}

