html, body {
    height: 100%;
}

.headFix {
    width: 300px;
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    margin-top:5%;
    text-align:center;
}

.col-md-1 {
    width:150px;
    height: 150px;
}

.poster {
    text-align: center;
    padding-top: 25px;
}

.poster:active {
    background-color: yellow;
    border-radius: 10px;
}

.search {
    position: relative;
}

.viewTrailer {
    text-align:center;
    border: solid;
    border-width:2px;
    border-color: #075876;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #297995;
    margin-bottom:30px;
}

.movie-link {
  color: white;
  text-decoration: none;
}

.jumbotron {
    height:150px;
    background-color: #BCDFE6;
    
}

