<script type="text/javascript" src="../assets/javascript/JAM.js"></script>

<p>Welcome JAMmer</p>

<div class="upcoming" ></div>

<input type="text" id="query" onkeydown="if (event.keyCode == 13) document.getElementById('btnSearch').click()" />
<input type="button" id="btnSearch" value="Search" onclick="PostSearch();" />

<div class="mySearch"></div>

<p>Trailer JAM</p>
<div class="viewTrailer"></div>

